body {
  font-family: "Silkscreen", monospace;
  width: 1512px;
  height: 982px;
  top: 31px;
  left: 198px;
  padding: 100px 962px 457px 90px;
}

div {
  display: inline-block;
  max-width: 460px;
  max-height: 158px;
  border-top: 3px solid;
  border-left: 3px solid;
  padding-bottom: 20px;
}

h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 51.2px;
  margin: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.48px;
  text-align: left;
  margin: 20px;
  max-width: 402px;
  max-height: 60px;
}

img {
  display: block;
  max-width: 460px;
  max-height: 215px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  max-width: 372px;
  max-height: 38px;
  font-size: 30px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  color: black;
}
